.list-group
  = link_to 'Overview', jobs_path, class: ["list-group-item"]
  = link_to 'Offer', offers_path, class: ["list-group-item"]
  = link_to 'Intent', intents_path, class: ["list-group-item"]
  = link_to 'Agent', agents_path, class: ["list-group-item"]


  -# = link_to 'Education', education_infos_path, class: ["list-group-item"]
  -# = link_to 'Career', career_infos_path, class: ["list-group-item"]
  -# = link_to 'Skills', skills_path, class: ["list-group-item"]
