%nav.navbar.navbar-light.bg-faded.bg-primary
  .nav.navbar-nav
    %a.navbar-brand.nav-link{:href => "#"} AngelsJob
    %a.nav-item.nav-link.active{:href => "#"}
      Home
      %span.sr-only (current)
    %a.nav-item.nav-link{:href => "#"} Features
    %a.nav-item.nav-link{:href => "#"} Pricing
    %a.nav-item.nav-link{:href => "#"} About

:css
  .nav-link {
    color: #fff!important
  }
